@{
    ViewBag.Title = "Home Page";
}



<div class="row img-responsive">
    <div class="col-md-3 TopsPicture">

        <h2 class="TopsPicture">Tops</h2>
        <img src="~/Content/PF_T_Shirt_small.jpg" />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Bottoms</h2>
        <img src="~/Content/Jeans_small.jpg" />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Shoes</h2>
        <img src="~/Content/Shoes_small.jpg" />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>Accessories</h2>
        <img class="AccessoriesPicture" src="~/Content/Sunglasses_small.jpg" />
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>